body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s ease;
}

.input{

}

.label{
    width: 80px;
    height: 40px;
    background-color: lightgray;
    position: absolute;
    border-radius: 20px;
}

.circle{
    width: 34px;
    height: 34px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left:  3px;
    cursor: pointer;
    animation: toggleLight .3s ease forwards;
}


.input:checked + .label{
    background-color: darkslategrey;
}

.input:checked + .label .circle{
    animation: toggleDark .3s ease forwards;
    
}

@keyframes toggleDark{
    0%{
       transform: translateX(0);
    }
    
    
    100%{
       transform: translateX(40px);
    }
}
@keyframes toggleLight{
    0%{
       transform: translateX(40px);
    }
    
    
    100%{
       transform: translateX(0px);
    }
}
